behave # behavioral tests
black==24.4.0 # code formatting
flake8==7.0.0 # linter
jsonschema==4.21.1
matplotlib # visualization
mypy==1.9.0 # type hint checking
networkx==3.3 # graph creation
prospector==0.12.2
pytest
pytest-bdd # behavioral tests
pytest-cov # coverage
pytest-xdist # distribute tests across multiple CPUs to speed up test execution
pydeps==1.12.20 # module dependencies
pylint==3.1.0 # linter
python-call-graph==2.1.2 # function call graph
sphinx==7.2.6 # documentation